<!-- email_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Receipt</title>
</head>
<body>
    <p>Hello, {{fullname}}!</p>
    <p>It’s people like you who make what we do possible. Your donation of {{amount}} on {{receipt_date}} to Nirmaan organization is greatly appreciated. So, let us extend our sincere gratitude for being a part of our mission!</p>
    <p>Since 2007, we’ve been working tirelessly to achieve a knowledge-driven and economically empowered society.</p>
    <p>Your amazing donation of {{currency}} {{amount}} helps us to achieve our mission. Below, you will find a receipt for your records. The donations are tax exempted under 80G.</p>
    <p>We’re so grateful for your support!</p>
    <p>Thank you so much,</p>
    <br/>
    <br/>
    Mayur Patnala<br/>
    Nirmaan organization
</body>
</html>
